{% extends "base.html" %} 

{% block title %}C# Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">C#</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">


{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿C# (pronounced "C sharp") is a versatile, object-oriented programming language developed by Microsoft. It combines the power of C++ with the simplicity of Java, making it suitable for a wide range of applications, from web and desktop development to game design and mobile app development using the .NET framework. C# emphasizes strong typing, modern features, and a rich standard library, making it a popular choice for building robust and scalable software on Windows and beyond.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with C :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Desktop Applications: Beginners use C# for creating Windows desktop applications with graphical user interfaces (GUI) using Windows Forms or WPF.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Console Apps: Basic command-line programs to learn foundational programming concepts.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Web Development: Developing dynamic web applications using ASP.NET and ASP.NET Core, including server-side logic and APIs.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Game Development: Intermediate users build games using C# with game engines like Unity, known for its versatility and cross-platform capabilities.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Enterprise Software: Advanced developers create large-scale, distributed systems, and enterprise-level applications using C# and .NET technologies.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Cloud Services: Building cloud-native applications and microservices with Azure using C# and .NET Core.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Mobile App Development: Developing cross-platform mobile apps using Xamarin, which leverages C# for iOS and Android.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Financial Software: C# is a choice for developing trading platforms, algorithmic trading systems, and risk management software in the finance industry.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Healthcare Solutions: C# is employed in developing electronic health record (EHR) systems, medical imaging software, and telemedicine applications.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://learn.microsoft.com/en-us/dotnet/csharp/">https://learn.microsoft.com/en-us/dotnet/csharp/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/cs/index.php">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}


    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.geeksforgeeks.org/csharp-programming-language/">Geeks For Geeks</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://blog.submain.com/c-documentation-start-finish-guide/">SubMain</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.programiz.com/csharp-programming">Programiz</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/M5ugY7fWydE?si=HeeFcxwKtjUgHQkm">Derek Banas Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/GhQdlIFylQ8?si=RJXKbuTcf0oYDWmm">FreeCodeCamp C# Beginner Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/YT8s-90oDC0?si=YR0gXyUwYUDFwOW2">Advanced C# Course(FreeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLX07l0qxoHFLZftsVKyj3k9kfMca2uaPR">Learning Never Ends Playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>

{% endblock %}