{% extends "base.html" %} 

{% block title %}Python Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">Python</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">


{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿Python is a high-level, interpreted programming language known for its readability and versatility. Its clean, indentation-based syntax makes code easy to write and understand. Python is widely used in web development, data analysis, scientific computing, and artificial intelligence, thanks to its vast standard library and active community. It's an excellent choice for both beginners and experienced developers due to its simplicity and extensive ecosystem.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with python :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Scripting: Python is used for automating repetitive tasks, file handling, and simplifying everyday activities.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Web Development: Frameworks like Django and Flask facilitate web app development.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Data Analysis: Libraries such as Pandas are ideal for data manipulation and analysis.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Machine Learning: Python's libraries like TensorFlow and scikit-learn enable building and training machine learning models.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Scientific Computing: Python is favored in fields like physics and engineering for simulations and data analysis.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Game Development: Pygame offers a platform for creating 2D games.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Artificial Intelligence: Python is the language of choice for AI and deep learning research with libraries like PyTorch.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Big Data: Python is used in big data processing frameworks like Apache Spark.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Quantitative Finance: Python is vital for quantitative analysis and algorithmic trading in finance.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Cybersecurity: Python aids in penetration testing, network analysis, and security tool development.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://docs.python.org/3/">https://docs.python.org/3/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://pyflo.net/">PyFlo</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}


    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/python/">W3Schools</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.geeksforgeeks.org/python-programming-language/">GeeksForGeeks</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/python/index.htm">TutorialsPoint</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/nLRL_NcnK-4?si=reICp1RqPfwOryIX">Harvard CS50 - Intro to Programming with Python (FreeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/watch?v=XKHEtdqhLK8">BroCode Python Full Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3">Telusko Python Playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLzMcBGfZo4-mFu00qxl0a67RhjjZj3jXm">TechWithTim Python for Beginners</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>

{% endblock %}