{% extends "base.html" %} 

{% block title %}Web Development Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">Web Development</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">


{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿Web development refers to the process of creating websites and web applications for the internet. It involves a combination of front-end development, which focuses on the user interface and user experience, and back-end development, which manages the server-side logic and data storage. Web developers use programming languages like HTML, CSS, JavaScript, and server-side technologies to build websites that can range from simple static pages to complex, interactive web applications.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with Web Development :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Static Websites: Beginners create simple, static web pages with HTML and CSS, learning fundamental web structure and design.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Dynamic Websites: Intermediate users develop interactive web pages with JavaScript and server-side technologies like PHP or Node.js.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Content Management Systems (CMS): Building websites using platforms like WordPress or Joomla, allowing easy content updates.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Web Applications: Advanced developers create complex web applications, including e-commerce platforms, social networks, and online collaboration tools.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Progressive Web Apps (PWAs): Building PWAs that offer native app-like experiences on the web, including offline capabilities and push notifications.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> E-commerce Platforms: Building complex e-commerce websites with features such as product catalogs, shopping carts, secure payment gateways, and order processing.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Social Media Platforms: Creating social networking sites with user profiles, friend connections, news feeds, and content sharing features.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Content Streaming: Building platforms for streaming media content, such as video-on-demand (VOD) services and live streaming websites.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Progressive Web Apps (PWAs): Creating PWAs that work offline, offer push notifications, and provide a native app-like experience on the web, improving user engagement and accessibility.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> HTML Resources : </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://html.com/document/">https://html.com/document/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://developer.mozilla.org/en-US/docs/Web/HTML">MDN Web Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/html/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.geeksforgeeks.org/html/">Geeks For Geeks</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/html/index.htm">Tutorial point</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/HD13eq_Pmp8?si=Qpw_-2zFWrmJMlBW">BroCode HTML 1hr Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/kUMe1FH4CHE?si=5G-6xJpmnlO7giNq">HTML full course (freeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/mJgBOIoGihA?si=K0Aw27T_2O_sXpnI">Dave Gray Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>

<div style="padding: 50px"></div>

<h1 class="text-light">CSS Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://devdocs.io/css/">https://devdocs.io/css/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN Web Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/css/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://web.dev/learn/css/">WebDev CSS</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/css/index.htm">Tutorial point</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/n4R2E7O-Ngo?si=QjQ5F68wLPfXOYdV">Dave Gray CSS Full Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/OXGznpKZ_sA?si=C9X1g81J1hP-92p8">CSS full course (freeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/HGTJBPNC-Gw?si=QifLhcSHVofu0tBh">Bro Code HTML+CSS</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>

<div style="padding: 50px"></div>

<h1 class="text-light">JavaScript Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://devdocs.io/javascript/">https://devdocs.io/javascript/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN Web Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://javascript.info/">The Modern JavaScript Tutorial</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/js/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/javascript/index.html">Tutorial point</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.javascripttutorial.net/">JavaScript Tutorial</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li> 
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/8dWL3wF_OMw?si=w4Fo29qpKjdjoUtS">BroCode JavaScript Full Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/jS4aFq5-91M?si=iue7dVH3VcH42sLA">JavaScript full course (freeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLsyeobzWxl7rrvgG7MLNIMSTzVCDZZcT4">Telusko JavScript Playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>


<div style="padding: 50px"></div>

<h1 class="text-light"> MERN Stack Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://blog.logrocket.com/mern-stack-tutorial/">LogRockets Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.mongodb.com/mern-stack">MongoDB Tutorial</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/js/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.geeksforgeeks.org/mern-stack/">Geeks For Geeks</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/ORyi6tTMNqE?si=x0okUgpAs-EQR8km">Dave Gray playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/ORyi6tTMNqE?si=x0okUgpAs-EQR8km">Simple Learn full course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/nu_pCVPKzTk?si=ua9tgfRvJ4EQ6Wyx">Web Development Full (Freecodecamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>


{% endblock %}