{% extends "base.html" %} 

{% block title %}JavaScript Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">JavaScript</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">

{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿JavaScript is a versatile, high-level programming language commonly used for web development. It allows developers to create dynamic and interactive web content, control web browsers, and build server-side applications. JavaScript is essential for enhancing user experiences, handling form validations, and creating modern web applications.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with JavaScript :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Interactive Web Pages: Beginners use JavaScript to create basic interactivity like form validation and simple animations.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> DOM Manipulation: Basic operations on the Document Object Model to update webpage content dynamically.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Web Applications: Intermediate users build dynamic web apps with frameworks like React, Angular, or Vue.js.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> AJAX and API Integration: Retrieving and displaying data from external sources via asynchronous requests.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Interactive Forms: Advanced form handling with custom validation and dynamic updates.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> CSS-in-JS: Integrating CSS directly into JavaScript for component-based styling in modern web applications.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Single Page Applications (SPAs): Building complex SPAs with client-side routing and state management.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Node.js: Server-side development, including building APIs and real-time applications.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> WebGL: Creating 3D graphics and games in the browser.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Serverless Computing: Deploying serverless functions and applications using technologies like AWS Lambda.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://devdocs.io/javascript/">https://devdocs.io/javascript/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN Web Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://javascript.info/">The Modern JavaScript Tutorial</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/js/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/javascript/index.html">Tutorial point</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.javascripttutorial.net/">JavaScript Tutorial</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li> 
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/8dWL3wF_OMw?si=w4Fo29qpKjdjoUtS">BroCode JavaScript Full Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/jS4aFq5-91M?si=iue7dVH3VcH42sLA">JavaScript full course (freeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLsyeobzWxl7rrvgG7MLNIMSTzVCDZZcT4">Telusko JavScript Playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>

{% endblock %}