{% extends "base.html" %} 

{% block title %}C Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">C</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">


{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿C is a versatile and widely-used programming language known for its efficiency and low-level control. It provides a rich set of features for system-level programming, including memory management and hardware interaction, making it a fundamental language for operating systems, embedded systems, and high-performance applications.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with C :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Console Programs: Beginners use C to create text-based programs, learning core programming concepts like variables, loops, and functions.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> System Software: Intermediate users develop operating systems, device drivers, and low-level software for hardware interaction.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Embedded Systems: C is essential for programming microcontrollers and embedded devices.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> High-Performance Computing: Advanced developers use C for scientific simulations, parallel computing, and data-intensive applications.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> System Programming: Intermediate users can work on operating systems, device drivers, and low-level software.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Game Development: Building high-performance games and game engines due to its speed and control.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Cryptocurrency and Blockchain: C is used in developing blockchain technologies and cryptocurrencies like Bitcoin.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> High-Frequency Trading: C is favored for developing low-latency trading systems in the financial industry, where microseconds matter in executing trades.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Kernel Development: C is the primary language for developing operating system kernels, such as the Linux kernel.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html">https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/c/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}


    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/cprogramming/">TutorialPoints</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.freecodecamp.org/news/what-is-the-c-programming-language-beginner-tutorial/">FreeCodeCamp</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://devdocs.io/c/">DevDocs Document</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/87SH2Cn0s9A?si=bxkAZkEGnKtSb7PE">BroCode Full Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRggZZgYpPMUxdY1CYkZtARR">Neso Academy C Playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PL98qAXLA6aftD9ZlnjpLhdQAOFI8xIB6e">Programiz C playlist</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>

{% endblock %}