{% extends "base.html" %} 

{% block title %}CSS Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">CSS</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">

{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿
    CSS (Cascading Style Sheets) is a stylesheet language used in web development to control the presentation and layout of HTML documents. It enables designers and developers to define the visual aspects of a web page, including colors, fonts, spacing, and positioning, allowing for consistent and aesthetically pleasing web design across different devices and screen sizes.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with CSS :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Styling Web Pages: Beginners use CSS to apply colors, fonts, and basic styling to HTML elements.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Layout Control: Simple layout adjustments, like centering content or adding borders.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Responsive Design: Intermediate users create web layouts that adapt to various screen sizes using media queries and flexbox/grid layouts.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> CSS Frameworks: Advanced developers leverage CSS frameworks (e.g., Bootstrap) for rapid, responsive web development.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> CSS Preprocessors: Using preprocessors like Sass or Less for advanced stylesheet management and organization.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> CSS-in-JS: Integrating CSS directly into JavaScript for component-based styling in modern web applications.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Transitions and Animations: CSS can be employed to create intricate animations and transitions for elements, providing smooth and visually appealing user interactions.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://devdocs.io/css/">https://devdocs.io/css/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN Web Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/css/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://web.dev/learn/css/">WebDev CSS</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/css/index.htm">Tutorial point</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/n4R2E7O-Ngo?si=QjQ5F68wLPfXOYdV">Dave Gray CSS Full Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/OXGznpKZ_sA?si=C9X1g81J1hP-92p8">CSS full course (freeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/HGTJBPNC-Gw?si=QifLhcSHVofu0tBh">Bro Code HTML+CSS</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>

{% endblock %}