{% extends "base.html" %} 

{% block title %}HTML Resources{% endblock %} 

{% block content %} 
<h1 class = "text-light display-4" style="padding: 100px 0 20px 0">HTML</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">

{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">﻿HTML (Hypertext Markup Language) is the standard language for creating web pages. It uses a simple and structured markup to define the content and structure of a web document, including text, images, links, and multimedia. HTML documents are rendered by web browsers to display websites, making it the backbone of the World Wide Web.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with HTML :

<p class="text-light h4" style="padding: 50px 0 10px 0">> Static Web Pages: Beginners use HTML to build simple, static web pages with text, images, and hyperlinks.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Responsive Web Design: Intermediate users learn to create web pages that adapt to various screen sizes and devices using HTML and CSS.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Forms: Building interactive forms for data input and submission on websites.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Web Development: Advanced developers use HTML as a foundation for building dynamic web applications, incorporating JavaScript and server-side technologies.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Web Accessibility: Ensuring web content is accessible to all users, including those with disabilities, using HTML5 semantic elements and ARIA attributes.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Progressive Web Apps (PWAs): HTML5, along with JavaScript and CSS, is a key component of PWAs, which are web applications that offer offline access, push notifications, and a native app-like experience.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> WebAssembly : WebAssembly is closely related and allows developers to run high-performance, low-level code in web browsers, enabling advanced applications like games and simulations.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Geolocation: HTML5 provides geolocation capabilities, allowing websites to access a user's location information with their consent. This feature is valuable for location-based services and mapping applications.</p>

<div style="padding: 50px"></div>

<h1 class="text-light"> Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://html.com/document/">https://html.com/document/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    {% comment %} element 1 starts {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://developer.mozilla.org/en-US/docs/Web/HTML">MDN Web Docs</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>    
    </li>
    {% comment %} element 1 ends {% endcomment %}
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.w3schools.com/html/">W3School</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.geeksforgeeks.org/html/">Geeks For Geeks</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/html/index.htm">Tutorial point</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>  
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    </li><li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/HD13eq_Pmp8?si=Qpw_-2zFWrmJMlBW">BroCode HTML 1hr Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/kUMe1FH4CHE?si=5G-6xJpmnlO7giNq">HTML full course (freeCodeCamp)</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="firstCheckbox"><a class="text-light" href="https://youtu.be/mJgBOIoGihA?si=K0Aw27T_2O_sXpnI">Dave Gray Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="firstCheckbox"></div>
        </div>
    </li>
</ul>

{% endblock %}